<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-half">
                <div class="">
                    <h1 class="title is-1">ACJ Professional Services</h1>
                    <h2 class="subtitle is-3">Hire a pro for your next home improvement. We exel at repairs, plumbing, carpentry, and more.... </h2>
                    <button class="button is-rounded is-info is-medium">Get a Quote</button>
                </div>
            </div>
        </div>
    </div>
</section>